body {
    background-color: rgb(212, 203, 203);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header {
    font-size: 40pt;
    display: block;
    position: relative;
    top: -50px;
    text-align: center;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
ul div li {
    margin: 5px;
    align-items: center;
    display: inline-block;
}
li:first-child {
    margin-left: 0;
}
button {
    font-size: 25pt;
    width: 100px;
    border-color: black;
    border-width: 0.5px;
    border-radius: 10px;
}
button:active {
    background: rgba(167, 49, 49, 0.144);
}

main input {
    width: 420px;
    height: 40px;
    font-size: 25pt;
}